body {
    font-family: 'Lato';
}
.wrapper{
    width: 95%;
    /*padding: 2px;*/
    margin: 0 auto;
}

.emph {
    font-weight: bold;
}

.patient-info-summary{
    height: 115px;
    border-bottom: 1px solid black;
}

.patient-info-summary .note{
    border: 1px solid #ff5a5a;
    border-radius: 4px;
    background-color: #ffbbac;
    display: inline;
    padding: 5px;
    margin: 5px 0;
}

.patient-info-summary .text{
    top: 6px;
    position: relative;
    border-right: 1px solid #ddd;
    width: 220px;
    float: left;
    margin-right: 20px;
}

.room-info{
    border: 1px solid green;
    border-radius: 5px;
    /*background-color: #b3ffb3;*/
    padding: 5px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.patient-photo{
    /*background-image: url("http://www.ibj.com/ext/resources/mugs/B1/bolchini-davide-mug.jpg");*/
    display: inline;
    background-repeat:no-repeat;
    background-size:contain;
    width: 69px;
    height: 100px;
    border-radius: 20px;
    float: left;
    margin: 0 10px;
    /*position: absolute;*/

}
.name {
   font-size: 20px;
    font-weight: bold;
    margin:5px 0;
}

.extra-info {
    position: relative;
    top: 10px;
    width: 220px;
    float: left;
}

.prior-incidents {
    border: 1px solid  #fb7672;
    padding:2px;
    border-radius: 5px;
    margin:2px 0;
}

.graph {
    /*border-bottom: 1px solid gray;*/
    margin: 10px 0;
}
.em{

}


.svg-container {
    z-index: 99999;
}
.charts{
    border: 1px solid green;
    height: 500px;
    width: 100%;
}

.graph-artifacts{
    /*width: 100px;*/
    /*height:200px;*/
    /*float: left;*/
    /*z-index: 9;*/
    /*margin: 0 0 0 20px;*/
    border: 1px solid #ddd;
}
#charts .graph-name{
    margin:0 10px;
    position: relative;
    top: 13px;
    left: 11px;
    font-size: 17px;
    font-weight: bold;
    z-index: 999999999;


    /*border: 1px solid red;*/
    /*width: 20px;*/
}

#charts .graph-photo {
    position: relative;
    top: 30px;
    display: inline-block;
    float: left;
    left: 11px;
    height: 47px;
    width: 54px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 0 0 5px;
}

.tabs {
    position: relative;
    top:10px;
}
